@import "bootstrap/vendor/rfs";

/* vietnamese */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v13/Qw3aZQNVED7rKGKxtqIqX5EUAnx4RHw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v13/Qw3aZQNVED7rKGKxtqIqX5EUA3x4RHw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v13/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
    text-transform: capitalize !important;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: #a34b3f;
}

h1{
    color: rgb(241, 234, 234);
    @include responsive-font-size(64px);
    letter-spacing: 2px;
    margin: 80px 0 0;
    i {
        color: rgb(243, 188, 188)
    }
}

.content{
    margin: 50px 0;
    background: rgb(235, 228, 228);
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);


    ul {
        border-radius: 10px 120px 10px 10px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        li{
            padding: 20px;
            background: #f8d7d7;
            @include responsive-font-size(20px);
            color: rgb(83, 45, 45);
            position: relative;
            border-bottom: 1px solid #e6e6e6;
            &:nth-child(even){
                background: rgb(255, 197, 197);
            }
            span{
                display: block;
                @include responsive-font-size(25px)
            }
            span:not(:nth-of-type(1)) {
                font-size: 16px;
                margin-top: 6px;
                color: rgb(109, 88, 88);
                display: inline-block;
                
            }
            span:nth-of-type(2) {
                margin-left: 20px;
                &::after {
                    content: "-";
                    font-size: 18px;
                    margin-left: 10px;
                }
            }
            span:nth-of-type(3){
                padding-left: 8px;
                &::after {
                    content: "$";
                }
            }
            .closer{
                position: absolute;
                top: 45px;
                right: 50px;
                background: transparent;
                text-align: center;
                cursor:  pointer;
                border: none;
                outline: none;
                box-shadow: none;

            }
        }
    }

    form {
        padding: 20px 0 45px;
        input[type=text] {
            border: 0;
            border-bottom: 1px solid #eee;
            padding: 10px;
            padding-left: 25px; 
            display: block;
            width: 100%;
            @include responsive-font-size(18px);
            border-radius: 40px;
            background-color: rgb(243, 243, 243);
            &::placeholder {
                color: rgb(83, 45, 45);
            }
            &:focus{
                outline: none;
                border-bottom: 3px solid #792a2ada;
                border-right: 3px solid #792a2ada;
                padding-bottom: 8px;
                transition: all ease 0.2s;
            }
        }
        &::after{
            content: '';
            clear: both;
            display: block;
        }
    

    
        input[type=submit]{
            border: 0;
            display: block;
            width: 100px;
            padding: 13px 30px;
            margin: 0 auto;
            box-shadow: 3px 3px 3px rgba(182, 79, 79, 0.2);
            font-weight: bold;
            letter-spacing: 1px;
            @media (min-width:567px) and (max-width:767px) {
                & {
                    width:100%;
                }
            }
        }
    }
}