@import "bootstrap/vendor/rfs";

*,
*::after,
*::before{
    text-transform: capitalize !important;
}
body{
    background: #a34b3f;
}

h1{
    color: rgb(241, 234, 234);
    @include responsive-font-size(64px);
    letter-spacing: 2px;
    margin: 80px 0 50px;
    i {
        color: rgb(243, 188, 188)
    }
}

.content{
    background: rgb(235, 228, 228);
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);


    ul {
        border-radius: 10px 120px 10px 10px;
        li{
            padding: 20px;
            background: #f8d7d7;
            @include responsive-font-size(20px);
            color: rgb(83, 45, 45);
            position: relative;
            border-bottom: 1px solid #e6e6e6;
            &:nth-child(even){
                background: rgb(255, 197, 197);
            }
            span{
                display: block;
                @include responsive-font-size(25px)
            }
            span:not(:nth-of-type(1)) {
                font-size: 16px;
                margin-top: 6px;
                color: rgb(109, 88, 88);
                display: inline-block;
                
            }
            span:nth-of-type(2) {
                margin-left: 20px;
                &::after {
                    content: "-";
                    font-size: 18px;
                    margin-left: 10px;
                }
            }
            span:nth-of-type(3){
                padding-left: 8px;
                &::after {
                    content: "$";
                }
            }
            div{
                position: absolute;
                top: 0;
                right: 0px;
                background: rgba(255,255,255,0.6);
                width: 40px;
                text-align: center;
                padding: 10px 0;
                font-weight:  bold;
                cursor:  pointer;
            }
        }
    }

    form {
        padding: 20px 0 45px;
        input[type=text] {
            border: 0;
            border-bottom: 1px solid #eee;
            padding: 10px;
            padding-left: 25px; 
            display: block;
            width: 100%;
            @include responsive-font-size(18px);
            border-radius: 40px;
            background-color: rgb(243, 243, 243);
            &::placeholder {
                color: rgb(83, 45, 45);
            }
            &:focus{
                outline: none;
                border-bottom: 3px solid #792a2ada;
                border-right: 3px solid #792a2ada;
                padding-bottom: 8px;
                transition: all ease 0.2s;
            }
        }
        &::after{
            content: '';
            clear: both;
            display: block;
        }
    

    
        input[type=submit]{
            border: 0;
            display: block;
            width: 100px;
            padding: 13px 30px;
            margin: 0 auto;
            box-shadow: 3px 3px 3px rgba(182, 79, 79, 0.2);
            font-weight: bold;
            letter-spacing: 1px;
            @media (min-width:567px) and (max-width:767px) {
                & {
                    width:100%;
                }
            }
        }
    }
}