<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        //- FontAwesome Files
        link(href="css/fontawesome.min.css" rel="stylesheet")
        link(href="css/brands.min.css" rel="stylesheet")
        link(href="css/solid.min.css" rel="stylesheet")
        //- Bootstrap File
        link(rel="stylesheet", href="css/cusbootstrap.css")
        //- Styling Sheet File
        link(rel="stylesheet", href="css/styleSheet.css")
    body
        .container
            img(src="images/test.jpg", alt="alt" height="200" width="200")
            p.ja Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam hic porro fugit et vel molestiae, at consectetur harum ratione excepturi sapiente nostrum labore consequuntur velit deleniti nisi nobis, aperiam repudiandae.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button(type="button" class="btn btn-primary")
                i(class="fab fa-phoenix-framework")
                |  call us 
                i(class="fas fa-arrow-right")
        
        //- JQuery File
        script(src="js/jquery-3.3.1.min.js")
        //- Bootstrap Js File
        script(src="js/bootstrap.min.js")
        //- Scripting Sheet File
        script(src="js/scriptsheet.js")