<!DOCTYPE html>
html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Firebase Cafe
      //- FontAwesome Files
      link(href="css/fontawesome.min.css" rel="stylesheet")
      link(href="css/brands.min.css" rel="stylesheet")
      link(href="css/solid.min.css" rel="stylesheet")
      //- Bootstrap File
      link(rel="stylesheet", href="css/cusbootstrap.css")
      //- Styling Sheet File
      link(rel="stylesheet", href="css/styleSheet.css")
      //- FireStore File
      script(src="js/firebase-app.js")
      script(src="js/firebasestore.js")
    body
      .container
      h1 fire Cafe 
        i(class="fas fa-mug-hot")

      div.content
        form#add-cafe-form

        ul#cafe-list.list-unstyled

        
        //- JQuery File
        script(src="js/jquery-3.3.1.min.js")
        //- Bootstrap Js File
        script(src="js/bootstrap.min.js")
        //- Scripting Sheet File
        script(src="js/scriptsheet.js")